
.row {
    margin-left: 30px !important;
    margin-right: 0 !important;
}



.pb-3 {
    margin-top: 10px !important;
  
}
.weather-search{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;


}
.card {
    font-size: 16px !important;
    background-color: #2d3e50 !important;
    color: white !important;
    border-radius: 0 !important;
    padding: 30px;
    margin-right: 25px;
}

.weather-header {
    background-image: linear-gradient(to right, rgba(52,98,187,255), rgba(33,11,78,255));
}

.icon {
    width: 50%;
    margin-left: -15px;
    
}

.icon2 {
    width: 15%;
}

.h6 {
    margin-bottom: 20px;
    margin-left: -10px;
    font-weight: lighter !important;
}

.h4 {
    margin-bottom: 20px;
    font-weight: lighter !important;

}

.date {
    margin-left: -10px;
}



#search-button {

  
    margin-top: 20px;
    padding-left: 125px;
    padding-right: 125px;
    background-color: #5098e6;
    color: white;
    border-radius: 5px;
    font-weight: lighter;
    float: left;
}

#clear-results {

    margin-top: 15px !important;
    background-color: #f57b5a;
    color: white;
    border-radius: 5px;
    font-weight: lighter;
    float: left;
}

#today {

    border: 1px solid rgb(116, 115, 118);
    margin-left: 0 !important;
    padding: 20px !important;
}

#clear {
    border-top: 1px solid grey;
}



.list-group-item {
    margin-top: 15px;
    background-color: #aeaeae !important;
    font-weight: lighter;
    padding: 7px !important;
}




